*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
body{
    background:#0f172a;
    color:white;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;

  background: rgba(2, 6, 23, 0.8);

  -webkit-backdrop-filter: blur(10px); /* Safari support */
  backdrop-filter: blur(10px);

  position: sticky;
  top: 0;
  z-index: 1000;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar ul {
    display:flex;
    gap:20px;
    list-style:none;
}

/*hero*/
.hero {
  text-align: center;
  padding: 140px 20px;
  background:
    linear-gradient(
      rgba(2, 6, 23, 0.75),
      rgba(2, 6, 23, 0.85)
    ),
    url("gym.jpg");
  background-size: cover;
  background-position: center;
}

 .hero button{
    margin-top:20px;
    padding: 12px 24px;
    background:#22c55e;
    border:none;
    color:black;
    font-size:16px;
    cursor:pointer;
    transition:all 0.3s ease;
    border-radius:14px;
 }

 .hero button:hover{
    background:#16a34a;
    transform: scale(1.05);
 }
 /*feature*/
 .features{
    display:flex;
    justify-content: center;
    gap:30px;
    padding:50px 20px;
 }
 /*pricing*/
 .pricing {
  text-align: center;
  padding: 30px 20px 60px;
  margin-top: -40px;
}


 .plans{
    display: flex;
    justify-content: center;
    gap: 20px;
 }

 .plan{
    background:#020617;
    padding:30px;
    width:150px;
    border-radius: 15px;
 }
 /*footer*/
 footer{
    text-align:center;
    padding:20px;
    background:#020617;
 }

 /*nav items hover*/
 .navbar li{
    cursor: pointer;
    position: relative;
 }

 .navbar li::after{
    content:"";
    position: absolute;
    width:0;
    height:2px;
    left:0;
    bottom:-5px;
    transition:width 0.3s ease;
 }

 .nav li:hover::after {
    width:100%;
 }
 /*cards hover*/
 .plan {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .plan:hover {
    transform: translateY(-100px);
    box-shadow: 0 10px 30px rgba(34, 197, 94, 0.3);
 }

 @media (max-width: 768px){
    .navbar{
        flex-direction: column;
        gap:15px;
    }
 }

 .features{
    .plans{
        flex-direction:coloum;
        align-items:center;
    }

    .hero{
        padding:80px 20px;
    }
    .hero h2{
        font-size:28px;
    }
 }
 html{
    scroll-behavior:smooth;
 }
 a{
    text-decoration:none;
    color:white;
 }